{% extends "steamrecommendations/base_generic.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="content-block">
      <h2>About This Project</h2>
      <p>
        This project is a web application that aids in providing personalised game recommendtaions. These recommendations are based off other games, their tags and descriptions. They are also determined by other users interests in them through their reviews and more!
      </p>
      <h3>How it Works</h3>
      <p>
        We analyze game data, tags, user reviews, and playtime to provide tailored recommendations.
        Learn more <a href="#">here</a>.
      </p>
      <ul>
        <li>Feature 1</li>
        <li>Feature 2</li>
      </ul>
    </div>
</div>

{% endblock %}